body {
    height: 100vh;
    background-image: url('https://source.unsplash.com/c6av7odz1yI');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFF;
    text-align: center;
    padding-top: 80px;
    text-shadow: 2px 1px 3px rgba(0,0,0,0.5),
    1px 1px 5px rgba(0,0,0,0.3);
    letter-spacing: 1.2px;
}

a, #message {
    text-shadow: none;
}
ul {
    text-align: left;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

input.form-control {
    margin: 40px auto;
    width: 50vw;
}

.hidden {
    display: none;
}
